#content {
	margin-top: 50px;
}

#events {
    display: none;
}
.tagp-1{
	font-size: 12px;
}

.tagp-2{
	font-size: 14px;
}
.tagp-3{
	font-size: 16px;
}
.tagp-4{
	font-size: 18px;
}
.tagp-5{
	font-size: 20px;
}
.tagp-6{
	font-size: 22px;
}
.tagp-7{
	font-size: 24px;
}
.tagp-8{
	font-size: 26px;
}
.tagp-9{
	font-size: 28px;
}
.tagp-10{
	font-size: 30px;
}